.converter-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid #2a4646;
    border-radius: 10px;

}
.inputBox{
    padding: 12px;
    background-color: #101010;
    border: 1px solid #2a4646;
    border-radius: 10px;
    font-size: 16px;
}
.convertOption{
    background-color: #d3d3d3;
    color:#2a4646;}

select, input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.convButton{
    padding: 12px;
    background-color: #2a4646;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
}

.convButton:hover {
    opacity: 0.7;
}


.result {
    margin-top: 20px;
    color: #fff;
}

.taxBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #151518;
    border: 1px solid #2a4646;
    padding: 25px;
    border-radius: 15px;
}

.taxInput {
    padding: 12px;
    background-color: #101010;
    border: 1px solid #2a4646;
    border-radius: 10px;
    font-size: 16px;
}

.taxInput:focus {
    outline: none;
    border-color: #27f1b1;
    box-shadow: 0px 0px 10px #27f1b166;
}

.taxButton {
    padding: 12px;
    background-color: #2a4646;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
}

.taxButton:hover {
    opacity: 0.7;
}

.taxResult {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}

.taskBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #151518;
    border: 1px solid #2a4646;
    padding: 25px;
    border-radius: 15px;
}

.taskInput {
    padding: 12px;
    background-color: #101010;
    border: 1px solid #2a4646;
    border-radius: 10px;
    font-size: 16px;
}

.taskInput:focus {
    outline: none;
    border-color: #27f1b1;
    box-shadow: 0px 0px 10px #27f1b166;
}

.taskButton {
    padding: 12px;
    background-color: #2a4646;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.taskButton:hover {
    box-shadow: 0px 0px 25px 1px #27f1b1;
}

.taskResult {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
    font-weight: 600;
}
table{
    margin-top: -30px;
    margin-bottom: 20px;
}

tr, thead, table{
    border-style: none;
    
}
th{
    border-style: none;
    background-color: #2a4646;
    border-radius: 3px;
    padding: 5px;
}


