*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    font-family: "Source Code Pro", monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 20px;

    min-height: 100dvh;
    padding: 35px 130px;

    background-color: #101010;
}
/* Navigation Bar */

.navbar{
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 55px;
    justify-content: space-between;
    align-items: center;

    border: 2px #2a4646 solid;    
    background-color: #1A1A1E;
    border-radius: 15px;
    padding: 10px 15px;
    
}

.logoBox{
    display: flex;
    height: 45px;
}

.logo{
    object-fit: cover;
    height: 100%;
    width: 200px;
    margin-left: -35px;
}

.link{
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.link:hover{
    background-color: #2a4646;
    box-shadow: 0px 0px 25px 1px #27f1b1; 
}

.repoButton{
    display: flex;
    align-content: center;

    height: 45px;
    background-color: #2a4646;
    border-radius: 15px;
    border:1px solid #fff;

    transition: all 0.2s;
}
.repoAnchor{
    display: flex;
    justify-content: center;
    align-content: center;

    gap: 10px;
    padding: 10px;

}
.repoButton:hover{
    box-shadow: 0px 0px 25px 1px #27f1b1 ;
}

.githubLogo{
    display: flex;
    height: 30px;
    margin-top: -4px;
    filter: invert(100%);
}

/* Content Wrapper*/


.content{
    display: flex;
    flex-direction: row;
    flex: 9;
    justify-content: space-between;
    gap: 20px;    
    
}    

.sidebar{
    display: flex;
    flex: 1;
    
    border: 2px #2a4646 solid;
    border-radius: 15px;

    background-image: url(../resources/ryan-haight-thorton-creek-large.gif);
    background-size: cover;
    background-position: 95%;

    filter: brightness(90%);
}

.contentContainer{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
    gap: 20px;

}

.info{
    display: flex;
    flex:2;
    flex-direction: column;
    justify-content: space-between;

    border: 2px #2a4646 solid;
    background-color: #1A1A1E;
    border-radius: 15px;

    padding: 30px 40px;
    
}

.greet{
    display: flex;
    flex:3;
    flex-direction: column;
    gap: 15px;

}

.hi{
    color: #d3d3d3;
    font-size: 14px;
}

.intro{
    font-size: 2.4em;
    line-height: 53px;
}
.bio{
    font-size: 16px;;
}


.contact{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px;
    
}

.conLink{
    background-color: #2a4646;
    width: 60px;
    height: 60px;
    padding: 12px;
    border:solid 1px #fff;
    border-radius: 15px;
    transition: all 0.2s;    

    cursor: pointer;
}

.conLink:hover{
    box-shadow: 0px 0px 25px 1px #27f1b1 ;
    padding: 10px;
    
}

.contactIcon{
    filter: invert(100%);
    height: 100%;
}


.projectBox{
    display: flex;  
    flex: 1;
    flex-direction: column;

    gap: 20px;
    padding: 15px 40px;
    background-color: #1A1A1E;
    border: 2px #2a4646 solid;
    border-radius: 15px;
}

    .projWrap{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        gap: 15px;
        
    }

    .assignment{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;

        padding:30px 20px;
        border:#fff 1px solid;
        border-radius: 15px;
        background-color: #2a4646;
        font-size: 17px;
        cursor: pointer;
        transition: all 0.2s;
    }
    .assignment:hover{
        box-shadow: 0px 0px 15px 1px #27f1b1 ;            
    }

    .desc{
        color: #d3d3d3;
        font-size: 12px;
    }


        .navTitle{
        border-radius: 10px;
        width: fit-content;
        padding: 5px;
        margin-left: -7px;
        background-color: #2a4646;
        }

    .me{
        line-height: 1.8;
    }