*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    font-family: "Source Code Pro", monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 20px;

    min-height: 100dvh;
    padding: 35px 130px;
    overflow-y: scroll;

    background-color: #101010;
}
/* Navigation Bar */

.navbar{
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 55px;
    justify-content: space-between;
    align-items: center;

    border: 2px #2a4646 solid;    
    background-color: #1A1A1E;
    border-radius: 15px;
    padding: 10px 15px;
    
}

.logoBox{
    display: flex;
    height: 45px;
}

.logo{
    object-fit: cover;
    height: 100%;
    width: 200px;
    margin-left: -35px;
}

.link{
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.link:hover{
    background-color: #2a4646;
    box-shadow: 0px 0px 25px 1px #27f1b1; 
}

.repoButton{
    display: flex;
    align-content: center;

    height: 45px;
    background-color: #2a4646;
    border-radius: 15px;
    border:1px solid #fff;

    transition: all 0.2s;
}
.repoAnchor{
    display: flex;
    justify-content: center;
    align-content: center;

    gap: 10px;
    padding: 10px;

}
.repoButton:hover{
    box-shadow: 0px 0px 25px 1px #27f1b1 ;
}

.githubLogo{
    display: flex;
    height: 30px;
    margin-top: -4px;
    filter: invert(100%);
}

/* Content Wrapper*/


.content{
    display: flex;
    flex-direction: row;
    flex: 9;
    justify-content: space-between;
    gap: 20px;    
    
}    

.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    border: 2px #2a4646 solid;
    border-radius: 15px;

    background-image: url(../resources/ryan-haight-thorton-creek-large.gif);
    background-size: cover;
    background-position: 95%;

    filter: brightness(90%);
    overflow: hidden;
}

.title{
    background-color: #1A1A1E;
    color: #fff;
    padding:20px;
}

.projList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    gap: 1px;
}

.project{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;

    justify-content: center;
    background-color: rgb(42, 70, 70, 0.4);


    filter: brightness(110%);

    transition: all 0.2s;
}

.project:hover{
    filter: brightness(250%);
    padding-left: 35px;
}



    .current{
        filter: brightness(250%);
    }


.contact{
    display: flex;
    justify-content: space-evenly;
    gap: 6px;
    background-color: #1A1A1E;
    padding: 8px;
    
}

.conLink{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    background-color: #2a4646;
    height: 40px;
    padding: 5px;
    border:solid 1px #fff;
    border-radius: 10px;
    transition: all 0.2s;    

    cursor: pointer;
}

.conLink:hover{
    box-shadow: 0px 0px 25px 1px #27f1b1 ;
    
}

.contactIcon{
    filter: invert(100%);
    height: 100%;
}


/* Project Area*/


.contentContainer{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
    gap: 20px;

}

.projectBox{
    display: flex;  
    flex: 1;
    flex-direction: column;

    gap: 20px;
    padding: 15px 40px;
    background-color: #1A1A1E;
    border: 2px #2a4646 solid;
    border-radius: 15px;
    
}

    .desc{
        color: #d3d3d3;
        font-size: 12px;
    }

    .projHead{
        border-radius: 10px;
        width: fit-content;
        padding: 5px;
        margin-left: -20px;
        background-color: #2a4646;
    }
